body {
  display: flex;
  margin: 0 auto;
  color: #FFF;
  font-family: sans-serif;
  font-size: 2vh;
}

h1 {
  font-size: 2.5vh;
  margin-top: 0;
}

.big-block {
  display: flex;
}

.big {
  width: 100%;
}

.small-blocks {
  display: flex;
  flex-wrap: wrap;
}

.small {
  text-align: center;
}

.small img {
  max-width: 33.33%;
  max-height: 33.33%;
  margin-top: 25%;
}

#box1 {
  background-color: black;
}

#box2 {
  background-color: #6F263D;
  text-align: left;
  box-sizing: border-box;
  padding: 6%;
}

#official {
  display: inline-block;
  border: 2px solid #FFF;
  padding: 2vh;
  margin: 0;
}

#official img {
  max-width: 2vh;
  max-height: 2vh;
  padding: 0;
  margin: 0 1vh 0 0;
}

#wikipedia {
  display: inline-block;
  border: 2px solid #FFF;
  padding: 2vh;
  margin: 0 0 0 2vh;
}

#wikipedia img {
  max-width: 2vh;
  max-height: 2vh;
  padding: 0;
  margin: 0 1vh 0 0;
}



#box3 {
  background-color: #0F323C;
}

#box4 {
  background-color: #236192;
}

#box5 {
  background-color: #A2AAAD;
}

#box6 {
  background-color: #6F263D;
}

#box7 {
  background-color: #0F323C;
}

#box8 {
  background-color: #236192;
}

#box9 {
  background-color: #A2AAAD;
}



@media screen and (min-width: 320px) {
  body {
    width: 100vw;
    flex-wrap: wrap;
  }

  .big-block {
    width: 100vw;
    height: 150vw;
  }

  .small-blocks {
    width: 100vw;
  }

  .small {
    width: 50%;
    height: 50vw; 
  }

  #box2 {
    width: 100%;
  }
}

@media screen and (min-width: 100vh) {
  body {
    width: 100vw;
    flex-direction: row-reverse;
  }

  .big-block {
    width: 50%;
    height: 100vh;
  }

  .small-blocks {
    width: 50%;
    height: 100vh;
    overflow: scroll;
  }

  .small {
    width: 50%;
    height: 25vw;
  }

  #box2 {
    width: 100%;
  }
}

@media screen and (min-width: 166.66vh) {
  body {
    width: calc(500vh/3);
    height: 100vh;
    flex-direction: row-reverse;
    
  }

  .big-block {
    width: 40%;
  }

  .small-blocks {
    width: 60%;
  }

  .small {
    width: 33.33%;
    height: 33.33%;
  }

  #box2 {
    width: 66.66%;
  }
}